---
import { dataIndex } from '../../../services/constants/index-page'
const $mpa = dataIndex.mostPopularAnime || []
let data = dataIndex.mostPopularAnime
data = []
if ($mpa !== undefined)
  for (let i = 0; $mpa.length >= i; i++) {
    if (data.length == 0) data.push($mpa[i])
    else {
      let equal = 0
      for (let j = 0; data.length >= j; j++) {
        if (data[j]?.mal_id == $mpa[i]?.mal_id) equal++
      }
      if (equal === 0) data.push($mpa[i])
    }
  }
---

<section class='flex flex-col gap-2'>
  {
    data.map((data) => (
      <section class='flex gap-2 rounded-lg bg-black relative overflow-hidden'>
        <img src={data?.images.webp.large_image_url} alt='' class='h-21 w-15  object-cover' />
        <section class='flex flex-col justify-between p-1 pr-4 w-full'>
          <p>{data?.title}</p>
          <p class='text-sm text-gray-400'>{data?.rating}</p>
          <p class='text-end'>⭐ {data?.popularity}</p>
        </section>
      </section>
    ))
  }
</section>
