---
import { dataIndex } from '../../../services/constants/index-page'
const $taa = dataIndex.topAiringAnime
---

<section class='flex flex-col gap-2'>
  {
    $taa.data.map((data) => (
      <section class='flex test gap-4 px-4'>
        <p>1</p>
        <img src={data.images.webp.large_image_url} alt='' class='h-20 w-15 rounded object-cover' />
        <section class=''>
          <p>{data.title}</p>
        </section>
      </section>
    ))
  }
</section>
