@font-face {
  font-family: 'Basicaline';
  src: url('/AniDex/fonts/Basicaline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #ffe64b;
  --secondary: #ff411d;
  --custom-source: 'Basicaline', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffe64b;
    --secondary: #ff411d;
  }
}

:root {
  --main-source: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-selection: #1b1919;
  --underlay-dark: #1d2129;
  --underlay-light: #efefef;
}
