<header class='p-4 flex flex-col gap-4'>
  <nav class='flex justify-between items-center text-white'>
    <a href='#'>API</a>
    <a href='#'>Github</a>
  </nav>
  <section class='flex flex-col items-center justify-center gap-4'>
    <h1 class='font-basicaline text-5xl'>AniDex</h1>
    <p class='prose prose-lg dark:prose-invert'>
      AniDex: All the information you are looking for about anime, in one place. Synopsis, dates, studios, characters and more, always updated and organized for you to discover and explore your
      passion for anime, easily and quickly.
    </p>
  </section>
</header>
