---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section>
    <p>navbar</p>
  </section>
  <section>
    <p>search</p>
  </section>
  <section>
    <p>Filter</p>
  </section>
  <article>
    <p>result</p>
  </article>
</Layout>
