---
import Filter from '../components/layout/Filter'
import Footer from '../components/layout/Footer.astro'
import Navbar from '../components/layout/Navbar'
import Search from '../components/layout/Search'
import Layout from '../layouts/Layout.astro'
import ResultA from '../components/layout/ResultA'
---

<Layout>
  <header class='test w-full overlay p-4'>
    <Navbar client:only />
    <article class='relative flex flex-col justify-center items-center text-center gap-4 min-h-64'>
      <h1 class='font-basicaline text-3xl'>Anime Search</h1>
      <p class='prose text-center text-white'>
        Find your favorite anime instantly. Search and explore a database with synopses, genres, recommendations, and new releases so you don't miss out on anything in the world of anime.
      </p>
    </article>
  </header>

  <main class='test'>
    <article class='flex flex-col gap-4 p-4 sm:items-center'>
      <Search client:load />
    </article>

    <section>
      <p>Filter</p>
      <section class='flex flex-col flex-wrap gap-2 p-4 list'>
        <Filter client:load />
      </section>
    </section>
    <article>
      <p>result</p>
      <ResultA client:only />
    </article>
  </main>
</Layout>

<Footer />
