---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <nav>
      <p>API</p>
      <p>Github</p>
    </nav>
    <h1>Title</h1>
    <p>description or info</p>
  </header>
  <main>
    <article>
      <p>filter</p>
    </article>
    <article>
      <p>info card</p>
      <p>info card</p>
      <p>info card</p>
    </article>
  </main>
  <footer>
    <p>Copyright</p>
    <p>ETC... ?</p>
  </footer>
</Layout>
