---
import Title from '../components/ui/Title.astro'
import Header from '../components/content/index/Header.astro'
import Layout from '../layouts/Layout.astro'
import CurrentSeasonSwiper from '../components/content/index/CurrentSeasonSwiper'
import LatestEpisodesUpdatesSwiper from '../components/content/index/LatestEpisodesUpdatesSwiper'
import TopUpcomingAnimeSwiper from '../components/content/index/TopUpcomingAnimeSwiper'
import TopAiringAnime from '../components/content/index/TopAiringAnime'
---

<Layout>
  <Header structureId='header' />

  <article id='slider' class=''>
    <CurrentSeasonSwiper client:only />
  </article>

  <main class='flex flex-col gap-8'>
    <article>
      <Title text='Latest Episodes Updates' />
      <LatestEpisodesUpdatesSwiper client:only />
    </article>

    <article class=''>
      <Title text='Top Upcoming Anime' />
      <TopUpcomingAnimeSwiper client:only />
    </article>

    <!-- watch api -->

    <!-- <article class='bg-blue-700 p-4'>
      <h2>Recommendations</h2>
    </article> -->
  </main>
  <aside class=''>
    <article class='test'>
      <Title text='Top Airing Anime' />
      <TopAiringAnime client:load />
    </article>
    <h2>Top Airing Anime</h2>
    <h2>Bypopularity anime</h2>
    <h2>Bypopularity Manga</h2>
  </aside>
  <footer class=''>
    <p>Copyright</p>
    <p>ETC... ?</p>
  </footer>
</Layout>

<style>
  header {
    grid-area: header;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
  aside {
    grid-area: aside;
    background-color: green;
    padding: 1rem;
    border-radius: 8px;
  }
  main {
    grid-area: main;
    padding: 1rem;
  }
  footer {
    grid-area: footer;
    padding: 1rem;
    background-color: cadetblue;
    border-top: 1px solid #dee2e6;
  }

  #slider {
    grid-area: content;
  }
</style>
