---
import Header from '../components/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Header />
  <main>
    <article>
      <p>filter</p>
    </article>
    <article>
      <p>info card</p>
      <p>info card</p>
      <p>info card</p>
    </article>
  </main>
  <footer>
    <p>Copyright</p>
    <p>ETC... ?</p>
  </footer>
</Layout>
