---
import Header from '../components/content/index/layout/Header.astro'
import Layout from '../layouts/Layout.astro'
import Aside from '../components/content/index/layout/Aside.astro'
import CurrentSeasonSwiper from '../components/content/index/layout/CurrentSeasonSwiper'
import Main from '../components/content/index/layout/Main.astro'
---

<Layout>
  <Header />
  <CurrentSeasonSwiper client:only />
  <Main />
  <Aside />
  <footer class=''>
    <p>Copyright</p>
    <p>ETC... ?</p>
  </footer>
</Layout>

<style>
  footer {
    grid-area: footer;
    padding: 1rem;
    background-color: cadetblue;
    border-top: 1px solid #dee2e6;
  }
</style>
