---
import ContentSearch from '../components/search/layout/ContentSearch'
import Footer from '../components/core/layout/Footer.astro'
import Navbar from '../components/core/layout/Navbar'
import Layout from '../layouts/Layout.astro'
import ResultA from '../components/search/layout/ResultA'
import SelectSearchApproach from '../components/search/ui/SelectSearchApproach'
import AllFilters from '../components/search/layout/AllFilters'
import FloatingPanel from '../components/core/ui/FloatingPanel'
---

<Layout>
  <header class='test w-full overlay p-4'>
    <Navbar client:only />
    <article class='relative flex flex-col justify-center items-center text-center gap-4 min-h-64'>
      <h1 class='font-basicaline text-3xl'>Find. Discover. Enjoy!</h1>
      <p class='prose text-center text-white'>Your next favorite anime or manga is just a search away.</p>
    </article>
  </header>

  <main class='test filter'>
    <article class='' style={{ gridArea: 'search' }}>
      <SelectSearchApproach client:only />
      <ContentSearch client:only />
    </article>

    <AllFilters client:only />

    <article style={{ gridArea: 'content' }}>
      <ResultA client:only />
    </article>
    <FloatingPanel client:only />
  </main>
  <Footer />
</Layout>

<style>
  .filter {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-template-areas:
      'filter search search search'
      'filter  content content content'
      'filter content content content';
  }
  @media screen and (max-width: 800px) {
    .filter {
      grid-template-rows: none;
      grid-template-areas:
        'search search search search'
        'filter  filter filter filter'
        'content content content content';
    }
  }
</style>
