---
import ContentSearch from '../components/search/layout/ContentSearch'
import Filter from '../components/search/layout/Filter'
import Footer from '../components/core/layout/Footer.astro'
import Navbar from '../components/core/layout/Navbar'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class='test w-full overlay p-4'>
    <Navbar client:only />
    <article class='relative flex flex-col justify-center items-center text-center gap-4 min-h-64'>
      <h1 class='font-basicaline text-3xl'>Find. Discover. Enjoy!</h1>
      <p class='prose text-center text-white'>Your next favorite anime or manga is just a search away.</p>
    </article>
  </header>

  <main class='test'>
    <article class='flex flex-col gap-4 p-4 sm:items-center'>
      <ContentSearch />
    </article>

    <Filter client:only />

    <article></article>
  </main>
</Layout>

<Footer />
