---
import WikiContent from '../components/wiki/layout/WikiContent'
import WikiLayout from '../layouts/WikiLayout.astro'
---

<WikiLayout>
  <section>
    <h1>Wiki</h1>
  </section>

  <WikiContent client:only />

  <footer></footer>
</WikiLayout>
