---
import WikiContent from '../components/wiki/layout/WikiContent'
import WikiLayout from '../layouts/WikiLayout.astro'
---

<WikiLayout>
  <section>
    <h1>Wiki</h1>
  </section>
  <article class='max-w-400 mx-auto w-full p-4'>
    <WikiContent client:only />
  </article>

  <footer></footer>
</WikiLayout>
