---
import WikiContent from '../components/wiki/layout/WikiContent'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section>
    <h1>Wiki</h1>
  </section>

  <WikiContent client:only />

  <footer></footer>
</Layout>
