---
import GithubIcon from '../../core/icons/GithubIcon'
import LinkedinIcon from '../../core/icons/LinkedinIcon'

type Props = {
  gridArea?: string
}

const { gridArea } = Astro.props
---

<footer style={{ gridArea: gridArea }} class='py-2 bg-cadetblue border-t border-gray-300 overlay flex flex-col gap-2'>
  <nav class='relative'>
    <section class='flex gap-4 items-center justify-center'>
      <a href='https://www.linkedin.com/in/bryan-grandon/' class='hover:text-secondary' target='_blank'><LinkedinIcon /></a>
      <a href='https://github.com/BryanGrandon/AniDex' class='hover:text-secondary' target='_blank'><GithubIcon /></a>
    </section>
  </nav>
  <p class='relative text-center'>&copy; 2025 BG.Company. All rights reserved. <a href='https://jikan.moe/' target='_blank' class='text-secondary'>Jikan API</a>.</p>
</footer>

<style>
  footer {
    background-color: #000000;
  }
</style>
