---
import Title from '../../../ui/Title.astro'
import MostPopularAnime from '../ui/MostPopularAnime'
import TopAiringAnime from '../ui/TopAiringAnime'
import MostPopularManga from '../ui/MostPopularManga'
---

<aside class='gap-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'>
  <article>
    <Title text='Top Airing Anime' />
    <section>
      <TopAiringAnime client:load />
    </section>
  </article>

  <article>
    <Title text='Most Popular Anime' />
    <section>
      <MostPopularAnime client:load />
    </section>
  </article>

  <article>
    <Title text='Most Popular Manga' />
    <section>
      <MostPopularManga client:load />
    </section>
  </article>
</aside>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  aside {
    grid-area: aside;
    background-color: #181818;
    padding: 1rem;
    border-radius: 8px;
  }
  @media screen and (min-width: 1050px) {
    aside {
      grid-template-columns: 1fr;
    }
  }
</style>
