---
import Navbar from '../../../layout/Navbar'
import data from '../../../../data.json' assert { type: 'json' }
import CurrentSeason from './CurrentSeason.astro'

const { title, description } = data.header
---

<header class='p-4 flex flex-col justify-between gap-4 relative overlay min-h-[100vh]' style={{ gridArea: 'header' }}>
  <Navbar client:only />
  <section class='flex flex-col items-center justify-center gap-4 relative'>
    <h1 class='font-basicaline text-5xl'>{title}</h1>
    <p class='prose prose-lg dark:prose-invert'>{description}</p>
  </section>

  <CurrentSeason />
</header>

<style>
  header {
    padding: 1rem;
    background-image: url('https://i.pinimg.com/originals/62/c4/c8/62c4c8894109a2db88fe82a5fe8c41aa.png');
    background-position:;
    background-size: cover;
  }
</style>
