---
import '../styles/global.css'
import '../styles/base.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 400px;
    grid-template-areas:
      'header header header header'
      'content content content content'
      'main main main aside'
      'main main main aside'
      'main main main aside'
      'footer footer footer footer';
  }
  @media screen and (max-width: 1050px) {
    body {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'header header header header'
        'content content content content'
        'main main main main'
        'main main main main'
        'aside aside aside aside'
        'footer footer footer footer';
    }
  }
</style>
