---
import '../styles/global.css'
import '../styles/base.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <script type='module' src='https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js'></script>
    <title>AniDex</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-image: url('https://i.pinimg.com/originals/62/c4/c8/62c4c8894109a2db88fe82a5fe8c41aa.png');
  }
</style>

<script>
  import 'swiper/css'
  import 'swiper/css/pagination'
  import 'swiper/css/autoplay'

  import Swiper from 'swiper'
  import { Pagination, Autoplay } from 'swiper/modules'

  const swiper = new Swiper('.swiper', {
    modules: [Pagination, Autoplay],
    scrollbar: true,
    spaceBetween: 20,
    slidesPerView: 1,
    autoplay: { delay: 3000, disableOnInteraction: false, pauseOnMouseEnter: true },
    pagination: { el: 'swiper-pagination', clickable: true },
    breakpoints: {
      360: { slidesPerView: 2 },
      640: { slidesPerView: 3 },
      768: { slidesPerView: 4 },
      880: { slidesPerView: 5 },
      1050: { slidesPerView: 6 },
      1175: { slidesPerView: 7 },
      1280: { slidesPerView: 8 },
      1606: { slidesPerView: 9 },
    },
  })

  const swiperMain = new Swiper('.swiperMC', {
    modules: [Pagination, Autoplay],
    scrollbar: true,
    spaceBetween: 20,
    slidesPerView: 1,
    autoplay: { delay: 3000, disableOnInteraction: false, pauseOnMouseEnter: true },
    pagination: { el: 'swiper-pagination', clickable: true },
    breakpoints: {
      360: { slidesPerView: 2 },
      640: { slidesPerView: 3 },
      768: { slidesPerView: 4 },
      1175: { slidesPerView: 5 },
      1280: { slidesPerView: 6 },
      1606: { slidesPerView: 7 },
    },
  })

  const swiperModal = new Swiper('.swiperModal', {
    modules: [Pagination],
    scrollbar: true,
    spaceBetween: 20,
    slidesPerView: 1,
    autoplay: { delay: 3000, disableOnInteraction: false, pauseOnMouseEnter: true },
    pagination: { el: 'swiper-pagination', clickable: true },
    breakpoints: {
      360: { slidesPerView: 2 },
      640: { slidesPerView: 3 },
      768: { slidesPerView: 4 },
      1175: { slidesPerView: 5 },
      1280: { slidesPerView: 6 },
      1606: { slidesPerView: 7 },
    },
  })
</script>
