---
type Props = {
  text: string
  theClass?: string
  theSecondary?: boolean
}
const { text, theClass = '', theSecondary = false } = Astro.props
---

<h2 class={`${theSecondary ? 'text-2xl' : 'text-3xl'} font-basicaline pr-4 whitespace-nowrap inline-block  ${theClass}`}>{text}</h2>
